#adding-button {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/adding.png');
	-fx-background-repeat: no-repeat;
	
}

#removing-button {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/removing.png');
	-fx-background-repeat: no-repeat ;
}

#clearing-button {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/clearing.png');
	-fx-background-repeat: no-repeat;
}


#about-button {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/about.png');
	-fx-background-repeat: no-repeat;
}

#rename-button {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/renaming.png');
	-fx-background-repeat: no-repeat;
}

#searching-on-dir {
	-fx-background-color: transparent; 
	-fx-background-image: url('image/searching_dir.png');
	-fx-background-repeat: no-repeat;
}

#system-help-button {
    -fx-background-color: transparent; 
	-fx-background-image: url('image/system_help.png');
	-fx-background-repeat: no-repeat;
}

.text-area {
    -fx-background-color: rgba(53.0,89.0,119.0,0.4);
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: green;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: green;
}


.text-area .scroll-pane .content{
    -fx-background-color: black;
}